.container{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
}
.registration-form{
    width: 20%;
}
.full-width{
    width: 100%;
}

.centered{
    align-items: center;
    justify-content: center;
}